*:not(dialog) {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(245, 244, 240);
}

@keyframes rotate_image {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

#can-1 {
	/* border: 1px solid rgb(30, 20, 10); */
	/* background-color: rgb(245, 244, 240); */
	display: none;
}

#can-2 {
	/* border: 1px solid rgb(30, 20, 10); */
	/* background-color: rgb(245, 244, 240); */
	display: none;
}

#page-slider {
	accent-color: rgb(30, 20, 10);
	/* height: 100px; */
	width: 50%;
	background-color: rgb(245, 244, 240);
	cursor: pointer;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.loading {
	top: 50%;
	left: 50%;
	transform: rotate(360deg);
	transform: translate(-50%, -50%);
	position: absolute;
	height: 200px;
	width: 200px;
	margin: auto;
	animation: rotate_image 1.5s ease infinite;
}

#pdf-viewer {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: auto;
}

.page-canvas {
	border: 1px solid black;
	margin: 5px;
}

.page-btn:active,
.page-btn:focus {
	outline: none !important;
	box-shadow: none !important;
}

#page-slider:active,
#page-slider:focus {
	outline: none !important;
	box-shadow: none !important;
}

.page-btn {
	height: 30px;
	width: 30px;
	cursor: pointer;
	border-radius: 50%;
	font-size: 18px;
	border: 1.5px solid rgb(30, 20, 10);
	color: rgb(30, 20, 10);
	background-color: rgb(245, 244, 240);
}

.reversed-btn:hover {
	transform: scale(0.94);
}

#controls {
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	border-top: 1.5px dashed rgb(30, 20, 10);
	height: 50px;
	background-color: rgb(245, 244, 240);
	/* background-color: brown; */
}

#controls button,
#controls input {
	margin: 0 5px;
}

.nonDrag {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

dialog {
	outline: none !important;
	box-shadow: none !important;
	width: 160px;
	height: 30px;
	background-color: rgb(245, 244, 240);
	border: 2px solid rgb(30, 20, 10);
}

#password {
	background-color: rgb(245, 244, 240);
	border: none;
	border-bottom: 1px solid rgb(30, 20, 10);
	outline: none !important;
	box-shadow: none !important;
	height: 30px;
	width: 120px;
	font-size: 18px;
}

#password-btn {
	background-color: rgb(245, 244, 240);
	color: rgb(30, 20, 10);
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	outline: none !important;
	box-shadow: none !important;
}

#password-btn:hover {
	background-color: rgb(30, 20, 10);
	color: rgb(245, 244, 240);
}
